<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/blur.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/list.css" />

    <script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyAb0FDX-kXAMDvawZWxn43QqTT8xW0QLc0&libraries=places&callback=Function.prototype"></script>
    <script type="text/javascript"
        src="https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>
    <title>Панель адміністратора</title>
    <link rel="icon" href="../icons/logo.png" type="image/x-icon">
    <style>
        body{
            background-image: url('../pictures/bg_admin.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <nav class="navbar bg-light d-flex align-items-center">
        <div class="container justify-content-between">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="../icons/logo.png" width="40" height="40" class="d-inline-block align-top mx-4" alt="">
                <b class="text-dark" style="font-size: 1.5em;">G-Post</b>
            </a>
            <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item px-1">
                    <a class="nav-link" href="/statistic">
                        <button type="button" class="btn btn-outline-dark d-flex align-items-center">
                            <i class="bi bi-bar-chart-line mx-1" style="font-size: 1.2rem;"></i>
                            Статистика
                        </button>
                    </a>
                </li>
                <li class="nav-item px-1">
                    <button type="button" class="btn btn-outline-dark d-flex align-items-center mx-2"
                    data-bs-toggle="modal" data-bs-target="#editPassword">
                        <i class="bi bi-pass mx-1" style="font-size: 1.2rem;"></i>
                        Змінити пароль
                    </button>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" href="/logout">
                        <button type="button" class="btn btn-outline-dark d-flex align-items-center">
                            <i class="bi bi-indent mx-1" style="font-size: 1.2rem;"></i>
                            Вийти
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <%- include('../parts/flash.ejs') %>
        <div class="container  d-flex flex-column " style="min-height: 75vh;">
            <section class="col-12 d-flex flex-column flex-lg-row justify-content-evenly">
                <div class="col-lg-4 p-4 blured rounded">
                    <h4 class="text-center">Відділення</h4>

                    <div class=" d-flex flex-row mb-2">
                        <input type="text" maxlength="20" id="stateName" class="form-control filter_input"
                            placeholder="Область" />
                        <input type="text" maxlength="20" id="townName" class="form-control filter_input"
                            placeholder="Місто/село" />
                        <input type="text" maxlength="20" id="streetName" class="form-control filter_input"
                            placeholder="Вулиця" />
                    </div>
                    <a href="#"
                        class="list-group-item p-2 rounded-top list-group-item-action bg-primary text-light justify-content-center d-flex align-items-center"
                        data-bs-toggle="modal" data-bs-target="#createDepartmentModal">
                        <i class="bi bi-plus-circle-dotted me-2" style="font-size: 1.75rem; color: whitesmoke;"></i>
                        Додати відділення
                    </a>
                    <div class="list-group overflow-auto h-75" id="departmentsList">

                    </div>
                </div>
                <div class="col-lg-4 p-4 blured rounded">
                    <h4 class="text-center">Працівники</h4>
                    <div class=" d-flex flex-row mb-2">
                        <input type="text" maxlength="20" id="workerFirstName" class="form-control worker_filter"
                            placeholder="Ім'я" />
                        <input type="text" maxlength="20" id="workerLastName" class="form-control worker_filter"
                            placeholder="Прізвище" />
                        <input type="text" maxlength="20" id="workerEmail" class="form-control worker_filter"
                            placeholder="Пошта" />
                    </div>
                    <a href="#" id="addWorkerButton"
                        class="list-group-item  p-2 rounded-top list-group-item-action bg-primary text-light justify-content-center d-flex align-items-center">
                        <i class="bi bi-person-add me-2" style="font-size: 1.75rem; color: whitesmoke;"></i>
                        Додати працівника
                    </a>
                    <div class="list-group overflow-auto h-75" id="workersListView">

                    </div>
                </div>
                <div class="col-lg-4 p-4 blured rounded">
                    <h4 class="text-center">Клієнти</h4>
                    <div class=" d-flex flex-row mb-2">
                        <input type="text" maxlength="20" id="clientFirstName" class="form-control client_filter"
                            placeholder="Ім'я" />
                        <input type="text" maxlength="20" id="clientLastName" class="form-control client_filter"
                            placeholder="Прізвище" />
                        <input type="text" maxlength="20" id="clientEmail" class="form-control client_filter"
                            placeholder="Пошта" />
                    </div>
                    <div class="list-group overflow-auto h-75" id="clientsListView">

                    </div>
                </div>

                
            </section>
        </div>
            <%- include('../parts/footer.ejs') %>



        <div class="modal fade" id="createDepartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Створити відділення</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column mx-4" method="post" action="/addDepartment">
                            <input type="hidden" name="lat" value="48.621025" id="lat" />
                            <input type="hidden" name="lon" value="22.288229" id="lon" />
                            <div class="form-outline mb-3">
                                <input type="text" placeholder="Адреса відділення" name="address" required
                                    maxlength="100" id="location" minlength="3" class="form-control" />
                                <div class="map" style="width: 100%; height: 200px" class="rounded"></div>

                            </div>
                            <div class="form-outline mb-3">
                                <input type="text" name="name" minlength="3" maxlength="50" required
                                    class="form-control" placeholder="Назва відділення" />
                            </div>
                            <div class="form-outline mb-3">
                                <input type="number" name="max_weight" min="1" max="1000" required class="form-control"
                                    placeholder="Макс. вага відправлення" />
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="editDepartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редагувати відділення</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column mx-4" method="post" action="/editDepartment">
                            <input type="hidden" name="lat" value="48.621025" id="latEdit" />
                            <input type="hidden" name="lon" value="22.288229" id="lonEdit" />
                            <input type="hidden" name="id" id="idEdit" />
                            <div class="form-outline mb-3">
                                <input type="text" placeholder="Адреса відділення" name="address" required
                                    maxlength="100" id="locationEdit" minlength="3" class="form-control" />
                                <div class="map" style="width: 100%; height: 200px" class="rounded"></div>

                            </div>
                            <div class="form-outline mb-3">
                                <input type="text" name="name" minlength="3" maxlength="50" id="nameEdit" required
                                    class="form-control" placeholder="Назва відділення" />
                            </div>
                            <div class="form-outline mb-3">
                                <input type="number" name="max_weight" min="1" max="1000" id="maxWeightEdit" required
                                    class="form-control" placeholder="Макс. вага відправлення" />
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addWorkerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Додати працівника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column mx-4" method="post" action="/addWorker">
                            <input type="hidden" name="dep_id" id="addWorkerDepId" />
                            <div class="form-outline mb-3">
                                <input type="text" placeholder="Ім'я" name="first_name" required maxlength="25"
                                    minlength="3" class="form-control" />
                            </div>
                            <div class="form-outline mb-3">
                                <input type="text" placeholder="Прізвище" name="last_name" required maxlength="25"
                                    minlength="3" class="form-control" />
                            </div>
                            <div class="form-outline mb-3">
                                <input type="email" placeholder="Пошта" name="email" required maxlength="25"
                                    class="form-control" />
                            </div>
                            <div class="form-outline mb-3">
                                <input type="password" placeholder="Пароль" name="password" required maxlength="25"
                                    minlength="8" class="form-control" />
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="editWorkerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редагувати працівника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column mx-4" method="post" action="/editWorker">
                            <input type="hidden" name="id" id="editWorkerId" />
                            <select class="form-control" name="department" required id="depSelectList">

                            </select>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="editPassword" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Оновити пароль</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex flex-column mx-4" method="post" action="/updatePassword">
                            <div class="form-outline mb-3">
                                <input type="password" placeholder="Введіть новий пароль" minlength="8"  name="password" required maxlength="16"
                                    class="form-control" />
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Зберегти"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <script>
            const clientObj = <%- JSON.stringify(clientObj) %>;
            const departmentArr = <%- JSON.stringify(dep_arr) %>;
            const workersArr = <%- JSON.stringify(workers_arr) %>;
            const clientsArr = <%- JSON.stringify(clients_arr) %>;
            var isAdmin = true;
        </script>
        <script src="../scripts/admin/map.js"></script>
        <script src="../scripts/admin/departments.js"></script>
        <script src="../scripts/admin/worker.js"></script>
        <script src="../scripts/admin/clients.js"></script>
        <script src="../scripts/filters.js"></script>
    </body>
</html>